@media screen and (max-width: 1366px) {
    .model__navbar {
        height: 590px;
        width: 400px;
        background-color: rgb(201, 222, 235);
    }
    .content__unit {
        width: 850px;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1920px) {
    .model__navbar {
        height: 780px;
        width: 550px;
        background-color: rgb(201, 222, 235);
    }
    .content__unit {
        width: 1150px;
    }
}

.user__avatar {
   height: 300px;
   width: 300px;
}

