.input__search:hover {
    border: none;
}


::placeholder {
    text-align: center;
}

.infor__body {
    background-color: #e4f7fa;
}

.menu__items button {
    letter-spacing: 1px;
}

.menu__items button:hover {
    opacity: 0.9;
}

.menu__items button:first-child {
    border-bottom: 1px solid #ccc;
}