.thongtin__account {
    letter-spacing: 2px;
}

.link__home {
    margin-left: 232px;
}

.h1__user {
    padding-left: 25px;
    margin-bottom: 4px;
}

.input__user, .input__fname, .input__lname {
    border: 1px solid #ccc;
}